
@import url('https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap');

div:first-of-type{
color: #ff0000
}

#idx{
font-family: 'Syne Tactile', cursive ;
}

.content{
background: #7171ce
}



